.modal-block {
  display: block !important;
}

/* Transparent Overlay */
.modal-block:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

.modal-pb {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
